.hero {
  background-color: #E8E8E8;
  padding-bottom: 50px;
  margin-bottom: 150px;

  @media (max-width: 1024px) {
    padding-bottom: 25px;
    margin-bottom: 100px;
  }

  @media (max-width: 600px) {
    border-radius: 0 0 20px 20px;
    margin-bottom: 30px;
  }

  .swiper {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .swiper-wrapper {
    box-sizing: content-box;
  }

  .swiper-slide {
    display: flex;
    justify-content: space-between;

    @media (max-width: 600px) {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }

  &__flex__img {
    @media (max-width: 1024px) {
      width: 375px;
    }

    @media (max-width: 825px) {
      width: 270px;
    }

    @media (max-width: 600px) {
      order: -1;
      width: 234px;
    }
  }

  div .swiper-pagination {
    width: 270px;
    height: 22px;
    bottom: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1024px) {
      bottom: 50px;
    }

    @media (max-width: 825px) {
      bottom: -5px;
    }

    @media (max-width: 600px) {
      bottom: 10px;
      left: calc(50% - 135px);
    }

    &::before {
      content: '01';
      font-size: 18px;
      line-height: 22px;
      font-weight: 700;
    }

    &::after {
      content: '03';
      font-size: 18px;
      line-height: 22px;
      font-weight: 700;
    }
  }

  .swiper-pagination-bullet {
    background-color: #fff;
    width: 51px;
    height: 4px;
    opacity: 1;
    border-radius: 100px;
    border: none;
  }

  .swiper-pagination-bullet-active {
    background-color: #0041A4;
  }

  &__title {
    width: 485px;
    color: #465067;
    font-size: 50px;
    line-height: 62px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 90px;

    &:not(:first-child) {
      width: 550px;
    }

    @media (max-width: 1024px) {
      width: 390px;
      font-size: 40px;
      line-height: 50px;
      margin-bottom: 60px;
    }

    @media (max-width: 825px) {
      width: 290px;
      font-size: 30px;
      line-height: 40px;
    }

    @media (max-width: 600px) {
      width: 230px;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }
  }

  &__btn {
    width: 270px;
    height: 60px;
    color: #fff;
    font-weight: 700;
    border-radius: 15px;
    border: none;
    background: linear-gradient(to right, #0041A4, #00A386);
    box-shadow: 10px 10px 50px #00DDB940;

    @media (max-width: 600px) {
      margin-bottom: 90px;
    }
  }
}